// scss for all

*{
  margin:0;
}

p,
a,
h1,
h2{
  color:#222831;
  font-family:sans-serif;
}

.article{
  max-width: 450px;
}

body,
header{
  max-width:1280px;
  margin:0 auto;
}

body{
  box-shadow:2px 4px 5px 5px #ccc;
}


// scss for base.html

header{
  position:fixed;
  z-index:99;
  height:60px;
  width:90%;
  padding:0 5%;
  display:flex;
  justify-content: space-between;
  background-color:#fff;
  @media screen and (min-width: 768px){
    height:80px;
    width:100%;
    padding:0;
  }
  .nav-button{
    width:40px;
    height:21px;
    padding:19.5px 0 0;
    @media screen and (min-width: 768px){
      padding:29.5px 0 0;
      margin:0 0 0 10%;
    }
    span{
      display:block;
      width:40px;
      height:3px;
      background-color:#222831;
      transition:0.4s;
      border-radius: 1.5px;
    }
    span:nth-of-type(2){
      margin:15px 0 0;
      transition:0.4s;
    }
  }
  .nav-button.active span:nth-of-type(1) {
    -webkit-transform: translateY(9px) rotate(-315deg);
    transform: translateY(9px) rotate(-315deg);
    transition:0.4s;
  }
  .nav-button.active span:nth-of-type(2) {
    -webkit-transform: translateY(-9px) rotate(315deg);
    transform: translateY(-9px) rotate(315deg);
    transition:0.4s;
  }
  .header-logo{
    display:block;
    width:100px;
    height:24px;
    margin-top:18px;
    background-image:url("img/header-logo.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    @media screen and (min-width: 768px){
      width:140px;
      height:33.6px;
      margin:23.2px 10% 0 0;
    }
  }
}
.nav-menu{
  position:fixed;
  top:60px;
  background-color:#fff;
  width:268px;
  padding:30px 0;
  margin:0 0 0 -268px;
  transition:0.4s;
  z-index:99;
  @media screen and (min-width: 768px){
    margin:-500px 0 0 0px;
  }
  .menu-logo{
    margin:0 auto 20px;
    display:block;
    width:80%;
    background-image:url("img/menu-logo.png");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top:38%;
  }
  .search-fractal{
    font-size:14px;
    margin:0 0 0 20px;
    color:#222831;
  }
  form{
    margin:0 0 20px 20px;
    input{
      width:180px;
      height:20px;
      border-radius:8px;
      padding:0;
      margin:0;
      border:1px solid #222831;
    }
    button{
      background-color:#325D80;
      border:none;
      color:#fff;
    }
  }
  .menu-link{
    text-decoration:none;
    color:#222831;
    margin:0 0 0 20px;
    font-size:14px;
    line-height:34px;
  }
}

.nav-menu.active{
  margin:0 0 0 0;
  transition:0.4s;
}

footer{
  width:100%;
  background-color:#ECECEC;
  padding:30px 0 0;
  .large-footer{
    @media screen and (min-width: 768px){
      display: flex;
      width:550px;
      margin:0 auto 30px;
    }
  }
  .footer-logo{
    display:block;
    margin:0 auto;
    width:75px;
    height:87px;
    background-image:url("img/fractal.png");
    background-position: center center;
    background-size: cover;
    @media screen and (min-width: 768px){
      width:80px;
      height:93px;
    }
  }
  .footer-nav{
    width:250px;
    margin:30px auto;
    display:flex;
    justify-content: space-between;
    @media screen and (min-width: 768px){
      margin:0 auto;
    }
    a{
      text-decoration:none;
      color:#222831;
      margin:0 0 0 20px;
      font-size:14px;
      line-height:34px;
      @media screen and (min-width: 768px){
        font-size:16px;
      }
    }
  }
  .copyright{
    font-size:10px;
    text-align:center;
  }
}


// scss for top.html

.top-page{
  padding-top:60px;
  .top-news{
    width:100%;
    background-image:url('img/top-news.jpg');
    background-position: center;
    background-size: cover;
    .top-news-container{
      width:90%;
      margin:0 auto;
      padding:30px 0;
      @media screen and (min-width: 768px){
        width:80%;
      }
      .top-news-text{
        font-size:24px;
        @media screen and (min-width: 768px){
          font-size:28px;
        }
      }
      .article-flex{
        @media screen and (min-width: 768px){
          display:flex;
          justify-content: space-between;
          flex-wrap: wrap;
        }
      }
      .article{
        display:block;
        z-index:0;
        cursor:pointer;
        transition:0.4s;
        width:100%;
        height:80px;
        background-color:#fff;
        box-shadow:2px 4px 5px #555 ;
        position:relative;
        margin-top:21px;
        @media screen and (min-width: 768px){
          width:48%;
          height:130px;
        }
        .art-category-box{
          position:absolute;
          top:0;
          left:0;
          width:100px;
          height:24px;
          background-color:#325D80;
          @media screen and (min-width: 768px){
            width:140px;
            height:30px;
          }
          p{
            font-size:14px;
            color:#fff;
            text-align:center;
            line-height:24px;
            @media screen and (min-width: 768px){
              font-size:16px;
              line-height:30px;
            }
          }
        }
        .art-date{
          font-size:12px;
          line-height:24px;
          position:absolute;
          top:0;
          left:110px;
          @media screen and (min-width: 768px){
            font-size:14px;
            top:36px;
            left:4px;
          }
        }
        .art-views{
          font-size:12px;
          line-height:24px;
          position:absolute;
          top:0;
          right:4px;
          @media screen and (min-width: 768px){
            font-size:14px;
          }
        }
        .art-title{
          font-size:14px;
          line-height:24px;
          font-weight: normal;
          position:absolute;
          top:30px;
          right:4px;
          left:4px;
          @media screen and (min-width: 768px){
            font-size:18px;
            line-height:28px;
            top:60px;
          }
        }
      }
      .article:hover{
        opacity:0.6;
        transition:0.4s;
      }
    }
  }
  .top-content{
    .top-content-container{
      width:90%;
      margin:0 auto;
      padding:0 0 50px;
      @media screen and (min-width: 768px){
        width:80%;
      }
      .each-category-content{
        padding:30px 0 30px;
        margin-top:54px;
        position:relative;
        width:100%;
        background-image:url('img/eyecatch3.jpg');
        background-position:center;
        background-size: cover;
        @media screen and (min-width: 768px){
          margin-top:60px;
        }
        .each-category-box{
          width:100px;
          height:24px;
          position:absolute;
          left:0;
          top:-24px;
          background-color:#325D80;
          @media screen and (min-width: 768px){
            width:140px;
            height:30px;
            top:-30px;
          }
          p{
            font-size:14px;
            color:#fff;
            text-align:center;
            line-height:24px;
            @media screen and (min-width: 768px){
              font-size:16px;
              line-height:30px;
            }
          }
        }
        .article-flex{
          @media screen and (min-width: 834px){
            display:flex;
            justify-content: space-between;
            flex-wrap: wrap;
            width:90%;
            margin:0 auto;
          }
        }
        .article{
          display:block;
          width:90%;
          transition:0.4s;
          cursor:pointer;
          margin:21px auto 0;
          background-color:#fff;
          position:relative;
          height:75px;
          @media screen and (min-width: 834px){
            margin:21px 0 0;
            height:85px;
            width:48%;
          }
          .art-date{
            position:absolute;
            top:0;
            left:4px;
            font-size:12px;
            line-height:24px;
            @media screen and (min-width: 768px){
              font-size:14px;
            }
          }
          .art-views{
            position:absolute;
            top:0;
            right:4px;
            font-size:12px;
            line-height:24px;
            @media screen and (min-width: 768px){
              font-size:14px;
            }
          }
          .art-title{
            position:absolute;
            top:25px;
            left:4px;
            font-size:14px;
            line-height:24px;
            @media screen and (min-width: 768px){
              font-size:18px;
              line-height:28px;
            }
          }
        }
        .article:nth-of-type(1){
          margin:0 auto 0;
          @media screen and (min-width: 834px){
            margin:21px 0 0;
          }
        }
        .article:hover{
          opacity:0.6;
          transition:0.4s;
        }
        .to-category-detail{
          display:block;
          width:200px;
          height:33px;
          margin:21px auto 0px;
          background-color:#F2A365;
          text-decoration:none;
          @media screen and (min-width: 768px){
            width:250px;
            height:40px;
          }
          p{
            line-height:33px;
            font-size:14px;
            color:#fff;
            text-align:center;
            @media screen and (min-width: 768px){
              line-height:40px;
              font-size:16px;
            }
          }
        }
      }
    }
  }
}


// scss for category_list.html

.category-list-page{
  padding-top:60px;
  .category-list-container{
    width:90%;
    margin:0 auto;
    padding:30px 0 50px;
    @media screen and (min-width: 768px){
      width:80%;
    }
    h1{
      font-size:24px;
      font-weight:normal;
      @media screen and (min-width: 768px){
        font-size:28px;
      }
    }
    .each-category-content{
      padding:30px 0 30px;
      margin-top:54px;
      position:relative;
      width:100%;
      background-image:url('img/eyecatch3.jpg');
      background-position:center;
      background-size: cover;
      @media screen and (min-width: 768px){
        margin-top:60px;
      }
      .each-category-box{
        width:100px;
        height:24px;
        position:absolute;
        left:0;
        top:-24px;
        background-color:#325D80;
        @media screen and (min-width: 768px){
          width:140px;
          height:30px;
          top:-30px;
        }
        p{
          font-size:14px;
          color:#fff;
          text-align:center;
          line-height:24px;
          @media screen and (min-width: 768px){
            font-size:16px;
            line-height:30px;
          }
        }
      }
      .article-flex{
        @media screen and (min-width: 768px){
          display:flex;
          justify-content: space-between;
          flex-wrap: wrap;
          width:90%;
          margin: 0 auto;
        }
      }
      .article{
        display:block;
        width:90%;
        transition:0.4s;
        cursor:pointer;
        margin:21px auto 0;
        background-color:#fff;
        position:relative;
        height:75px;
        @media screen and (min-width: 768px){
          margin:21px 0 0 ;
          height:85px;
          width:48%;
        }
        .art-date{
          position:absolute;
          top:0;
          left:4px;
          font-size:12px;
          line-height:24px;
          @media screen and (min-width: 768px){
            font-size:14px;
          }
        }
        .art-views{
          position:absolute;
          top:0;
          right:4px;
          font-size:12px;
          line-height:24px;
          @media screen and (min-width: 768px){
            font-size:14px;
          }
        }
        .art-title{
          position:absolute;
          top:25px;
          left:4px;
          right:4px;
          font-size:14px;
          line-height:24px;
          @media screen and (min-width: 768px){
            font-size:18px;
            line-height:28px;
          }
        }
      }
      .article:nth-of-type(1){
        margin:0 auto 0;
        @media screen and (min-width: 768px){
          margin:21px 0 0px;
        }
      }
      .article:hover{
        opacity:0.6;
        transition:0.4s;
      }
    }
    .for-flex{
      display:flex;
      width:120px;
      height:33px;
      margin:21px auto 0;
      position:relative;
      .left-arrow-a,
      .right-arrow-a{
        display:block;
        width:33px;
        height:33px;
        background-size:cover;
        background-position:center;
      }
      .left-arrow-a{
        background-image:url('img/left.png');
        position:absolute;
        left:0;
      }
      .right-arrow-a{
        background-image:url('img/right.png');
        position:absolute;
        right:0;
      }
      .page-number{
        font-size:20px;
        margin:0 auto;
        line-height:33px;
      }
    }
    .page-total-number{
      font-size:14px;
      margin: 10px 0 0px 50px;
    }
    .back-to-category-list{
      display:block;
      width:200px;
      height:33px;
      margin:21px auto 0px;
      background-color:#F2A365;
      text-decoration:none;
      @media screen and (min-width: 768px){
        width:250px;
        height:40px;
      }
      p{
        line-height:33px;
        font-size:14px;
        color:#fff;
        text-align:center;
        @media screen and (min-width: 768px){
          line-height:40px;
          font-size:16px;
        }
      }
    }
  }
}

// scss for categories.html

.categories-page{
  padding-top:60px;
  position:relative;
  .categories-content-container{
    h1{
      font-size:24px;
      font-weight:normal;
      @media screen and (min-width: 768px){
        font-size:28px;
      }
    }
    width:90%;
    margin:0 auto;
    padding:30px 0 50px;
    @media screen and (min-width: 768px){
      width:80%;
    }
    .each-category-content{
      padding:30px 0 30px;
      margin-top:54px;
      position:relative;
      width:100%;
      background-image:url('img/eyecatch3.jpg');
      background-position:center;
      background-size: cover;
      @media screen and (min-width: 768px){
        margin-top:60px;
      }
      .each-category-box{
        width:100px;
        height:24px;
        position:absolute;
        left:0;
        top:-24px;
        background-color:#325D80;
        @media screen and (min-width: 768px){
          width:140px;
          height:30px;
          top:-30px;
        }
        p{
          font-size:14px;
          color:#fff;
          text-align:center;
          line-height:24px;
          @media screen and (min-width: 768px){
            font-size:16px;
            line-height:30px;
          }
        }
      }
      .article-flex{
        @media screen and (min-width: 768px){
          display:flex;
          justify-content: space-between;
          flex-wrap: wrap;
          width:90%;
          margin:0 auto;
        }
      }
      .article{
        display:block;
        width:90%;
        transition:0.4s;
        cursor:pointer;
        margin:21px auto 0;
        background-color:#fff;
        position:relative;
        height:75px;
        @media screen and (min-width: 768px){
          width:48%;
          margin:21px 0 0;
          height:85px;
        }
        .art-date{
          position:absolute;
          top:0;
          left:4px;
          font-size:12px;
          line-height:24px;
          @media screen and (min-width: 768px){
            font-size:14px;
          }
        }
        .art-views{
          position:absolute;
          top:0;
          right:4px;
          font-size:12px;
          line-height:24px;
          @media screen and (min-width: 768px){
            font-size:14px;
          }
        }
        .art-title{
          position:absolute;
          top:25px;
          left:4px;
          font-size:14px;
          line-height:24px;
          @media screen and (min-width: 768px){
            font-size:18px;
            line-height:28px;
          }
        }
      }
      .article:nth-of-type(1){
        margin:0 auto 0;
        @media screen and (min-width: 768px){
          margin:21px 0 0;
        }
      }
      .article:hover{
        opacity:0.6;
        transition:0.4s;
      }
      .to-category-detail{
        display:block;
        width:200px;
        height:33px;
        margin:21px auto 0px;
        background-color:#F2A365;
        text-decoration:none;
        @media screen and (min-width: 768px){
          width:250px;
          height:40px;
        }
        p{
          line-height:33px;
          font-size:14px;
          color:#fff;
          text-align:center;
          @media screen and (min-width: 768px){
            font-size:16px;
            line-height:40px;
          }
        }
      }
    }
    .for-flex{
      display:flex;
      width:120px;
      height:33px;
      margin:21px auto 0;
      position:relative;
      .left-arrow-a,
      .right-arrow-a{
        display:block;
        width:33px;
        height:33px;
        background-size:cover;
        background-position:center;
      }
      .left-arrow-a{
        background-image:url('img/left.png');
        position:absolute;
        left:0;
      }
      .right-arrow-a{
        background-image:url('img/right.png');
        position:absolute;
        right:0;
      }
      .page-number{
        font-size:20px;
        margin:0 auto;
        line-height:33px;
      }
    }
  }
  .page-total-number{
    font-size:14px;
    margin: 10px 0 0px 0px;
  }
}

// scss for recommend.html
.recommend-page{
  padding-top:60px;
  .recommend-container{
    width:90%;
    margin:0 auto;
    padding:30px 0 50px;
    @media screen and (min-width: 768px){
      width:80%;
    }
    h1{
      font-size:24px;
      font-weight: normal;
      @media screen and (min-width: 768px){
        font-size:28px;
      }
    }
    .each-category-content{
      padding:30px 0 30px;
      margin-top:30px;
      position:relative;
      width:100%;
      background-image:url('img/eyecatch3.jpg');
      background-position:center;
      background-size: cover;
      .article-flex{
        @media screen and (min-width: 768px){
          display:flex;
          justify-content: space-between;
          flex-wrap: wrap;
          width:90%;
          margin:0 auto;
        }
      }
      .article{
        display:block;
        width:90%;
        transition:0.4s;
        cursor:pointer;
        margin:21px auto 0;
        background-color:#fff;
        position:relative;
        height:75px;
        @media screen and (min-width: 768px){
          margin:21px 0 0;
          height:85px;
          width:48%;
        }
        .art-date{
          position:absolute;
          top:0;
          left:4px;
          font-size:12px;
          line-height:24px;
          @media screen and (min-width: 768px){
            font-size:14px;
          }
        }
        .art-views{
          position:absolute;
          top:0;
          right:4px;
          font-size:12px;
          line-height:24px;
          @media screen and (min-width: 768px){
            font-size:14px;
          }
        }
        .art-title{
          position:absolute;
          top:25px;
          left:4px;
          font-size:14px;
          line-height:24px;
          @media screen and (min-width: 768px){
            font-size:18px;
            line-height:28px;
          }
        }
      }
      .article:nth-of-type(1){
        margin:0 auto 0;
        @media screen and (min-width: 768px){
          margin:21px 0 0 ;
        }
      }
      .article:hover{
        opacity:0.6;
        transition:0.4s;
      }
    }
    .back-to-category-list{
      display:block;
      width:200px;
      height:33px;
      margin:21px auto 0px;
      background-color:#F2A365;
      text-decoration:none;
      @media screen and (min-width: 768px){
        width:250px;
        height:40px;
      }
      p{
        line-height:33px;
        font-size:14px;
        color:#fff;
        text-align:center;
        @media screen and (min-width: 768px){
          font-size:16px;
          line-height:40px;
        }
      }
    }
  }
}

// scss for search.html

.search-page{
  padding-top:60px;
  position:relative;
  .search-container{
    width:90%;
    margin:0 auto;
    padding:30px 0 50px;
    @media screen and (min-width: 768px){
      width:80%;
    }
    h1{
      font-size:24px;
      font-weight: normal;
      @media screen and (min-width: 768px){
        font-size:28px;
      }
    }
    .each-category-content{
      padding:30px 0 30px;
      margin-top:30px;
      position:relative;
      width:100%;
      background-image:url('img/eyecatch3.jpg');
      background-position:center;
      background-size: cover;
      .no-result{
        text-align:center;
      }
      .article-flex{
        @media screen and (min-width: 1024px){
          display:flex;
          justify-content: space-between;
          flex-wrap: wrap;
          width:90%;
          margin:0 auto;
        }
      }
      .article{
        display:block;
        z-index:0;
        cursor:pointer;
        transition:0.4s;
        width:90%;
        height:80px;
        background-color:#fff;
        position:relative;
        margin:21px auto 0;
        @media screen and (min-width: 1024px){
          margin:21px 0 0px;
          height:90px;
          width:48%;
        }
        .art-category-box{
          position:absolute;
          top:0;
          left:0;
          width:100px;
          height:24px;
          background-color:#325D80;
          @media screen and (min-width: 768px){
            width:140px;
            height:30px;
          }
          p{
            font-size:14px;
            color:#fff;
            text-align:center;
            line-height:24px;
            @media screen and (min-width: 768px){
              font-size:16px;
              line-height:30px;
            }
          }
        }
        .art-date{
          font-size:12px;
          line-height:24px;
          position:absolute;
          top:0;
          right:4px;
          @media screen and (min-width: 768px){
            font-size:14px;
          }
        }
        .art-title{
          font-size:14px;
          line-height:24px;
          font-weight: normal;
          position:absolute;
          top:30px;
          left:4px;
          @media screen and (min-width: 768px){
            font-size:18px;
            line-height:28px;
            top:35px;
          }
        }
      }
      .article:nth-of-type(1){
        margin:0 auto 0;
        @media screen and (min-width: 1024px){
          margin:21px 0 0px;
        }
      }
      .article:hover{
        opacity:0.6;
        transition:0.4s;
      }
      .to-category-detail{
        display:block;
        width:200px;
        height:33px;
        margin:21px auto 0px;
        background-color:#F2A365;
        text-decoration:none;
        p{
          line-height:33px;
          font-size:14px;
          color:#fff;
          text-align:center;
        }
      }
    }
    .back-to-category-list{
      display:block;
      width:200px;
      height:33px;
      margin:21px auto 0px;
      background-color:#F2A365;
      text-decoration:none;
      p{
        line-height:33px;
        font-size:14px;
        color:#fff;
        text-align:center;
      }
    }
  }
  .for-flex{
    display:flex;
    width:120px;
    height:33px;
    margin:21px auto 0;
    position:relative;
    .left-arrow-a,
    .right-arrow-a{
      display:block;
      width:33px;
      height:33px;
      background-size:cover;
      background-position:center;
    }
    .left-arrow-a{
      background-image:url('img/left.png');
      position:absolute;
      left:0;
    }
    .right-arrow-a{
      background-image:url('img/right.png');
      position:absolute;
      right:0;
    }
    .page-number{
      font-size:20px;
      margin:0 auto;
      line-height:33px;
    }
  }
  .page-total-number{
    font-size:14px;
    position:absolute;
    bottom: 50px;
    right:5%;
  }
}

// scss for comment_form.html
.comment-page{
  padding-top:60px;
  .comment-container{
    width:90%;
    margin:0 auto;
    padding:30px 0 50px;
    @media screen and (min-width: 768px){
      width:80%;
    }
    h1{
      font-size:24px;
      font-weight: normal;
      @media screen and (min-width: 768px){
        font-size:28px;
      }
    }
    .comment_create{
      div{
        margin-top:21px;
        label{
          color:#222831;
          font-family:sans-serif;
          font-size:14px;
        }
      }
      div:nth-of-type(1){
        input{
          width:100%;
        }
      }
      div:nth-of-type(2){
        textarea{
          width:100%;
          padding:0;
        }
      }
    }
    button{
      display:block;
      width:200px;
      height:33px;
      margin:21px auto 0px;
      background-color:#F2A365;
      text-decoration:none;
      border:none;
      padding:0;
      @media screen and (min-width: 768px){
        width:250px;
        height:40px;
      }
      p{
        line-height:33px;
        font-size:14px;
        color:#fff;
        text-align:center;
        margin-top:0;
        @media screen and (min-width: 768px){
          font-size:16px;
          line-height:40px;
        }
      }
    }
  }
}


// scss for create_form.html
.create-page{
  padding-top:60px;
  .create-container{
    width:90%;
    margin:0 auto;
    padding:30px 0 50px;
    @media screen and (min-width: 768px){
      width:80%;
    }
    h1{
      font-size:24px;
      font-weight: normal;
      @media screen and (min-width: 768px){
        font-size:28px;
      }
    }
    .blog_create{
      div{
        margin-top:21px;
        label{
          color:#222831;
          font-family:sans-serif;
          font-size:14px;
        }
      }
      div:nth-of-type(2){
        input{
          width:100%;
          max-width: 500px;
        }
      }
      div:nth-of-type(3){
        input{
          width:100%;
          max-width: 500px;
        }
      }
      div:nth-of-type(4){
        textarea{
          width:100%;
          padding:0;
          height:800px;
        }
      }
      div:nth-of-type(5),
      div:nth-of-type(6),
      div:nth-of-type(7){
        display:none;
      }
      div:nth-of-type(1){

      }
    }
    button{
      display:block;
      width:200px;
      height:33px;
      margin:21px auto 0px;
      background-color:#F2A365;
      text-decoration:none;
      border:none;
      padding:0;
      @media screen and (min-width: 768px){
        width:250px;
        height:40px;
      }
      p{
        line-height:33px;
        font-size:14px;
        color:#fff;
        text-align:center;
        @media screen and (min-width: 768px){
          font-size:16px;
          line-height:40px;
        }
      }
    }
  }
}

// scss for blog_detail.html
.detail-page{
  padding-top:60px;
  .detail-container{
    width:90%;
    margin:0 auto;
    padding:30px 0 30px;
    @media screen and (min-width: 768px){
      width:80%;
    }
    h1{
      font-size:24px;
      font-weight:normal;
      @media screen and (min-width: 768px){
        font-size:28px;
      }
    }
    article{
      .art-subinfo{
        display:flex;
        justify-content: space-between;
        .category-box{
          width:100px;
          height:24px;
          background-color:#325D80;
          p{
            font-size:14px;
            color:#fff;
            text-align:center;
            line-height:24px;
          }
        }
        .art-writer{
          font-size:14px;
          margin:2px 0 0;
        }
      }
      h1{
        margin:5px 0 0;
        font-size:20px;
        line-height:40px;
        font-weight:bold;
      }
      .ad{
        margin:5px 0 30px;
        width:100%;
        height:200px;
        background-color:#ddd;
        p{
          text-align:center;
          padding-top:86px;
        }
      }
      .blog-text{
        border:2px solid #325D80;
        padding:0 10px 21px;
        border-radius:2px;
        p{
          margin-top:21px;
          font-size:14px;
          line-height:24px;
        }
      }
      .blog-afterinfo{
        display:flex;
        justify-content:space-between;
        p{
          font-size:12px;
          margin:10px 0 0;
        }
      }
    }
    .button,
    .another-art{
      display:block;
      width:200px;
      height:33px;
      margin:0px auto 0px;
      background-color:#F2A365;
      text-decoration:none;
      border:none;
      padding:0;
      @media screen and (min-width: 768px){
        width:250px;
        height:40px;
      }
      p{
        line-height:33px;
        font-size:14px;
        color:#fff;
        text-align:center;
        @media screen and (min-width: 768px){
          font-size:16px;
          line-height:40px;
        }
      }
    }
    .another-art{
      margin:30px auto 10px;
    }
    .ad{
      margin:21px 0 0px;
      width:100%;
      height:200px;
      background-color:#ddd;
      p{
        text-align:center;
        padding-top:86px;
      }
    }
  }
}
.comment{
  width:90%;
  margin:0 auto 50px;
  @media screen and (min-width: 768px){
    width:80%;
  }
  h2{
    font-size:20px;
    font-weight: normal;
  }
  .each-comment{
    margin:21px 0 0;
    p{
      font-size:14px;
      line-height:24px;
    }
    .commenter{
      font-size:12px;
      line-height:20px;
      margin:0 0 8px;
    }
    .comment-date{
      margin:8px 0 0px;
      font-size:12px;
      line-height:20px;
    }
  }
}
