{% extends 'blog/base.html' %}
{% block content %}
<section class="category-list-page">
  <div class="category-list-container">
    <h1>カテゴリ内記事一覧</h1>
        <div class="each-category-content">
          <div class="each-category-box">
            {% for blog in blog_list|slice:":1" %}
            <p>{{ blog.category }}</p>
            {% endfor %}
          </div>
          <div class="article-flex">
            {% for blog in blog_list %}
            <a href="{% url 'blog:blog_detail' blog.pk %}" class="article">
              <p class="art-date">{{ blog.created_at }}</p>
              <p class="art-views">{{ blog.views }}PV</p>
              <p class="art-title">{{ blog.title}}</p>
              <!-- {{ blog.like }}Likes  -->
            </a>
            {% endfor %}
          </div>
        </div>
        <div class="for-flex">
          {% if page_obj.has_previous %}
            <a class="left-arrow-a" href="?page={{page_obj.previous_page_number }}"></a>
          {% endif %}
            <p class="page-number">{{page_obj.number}}</p>
          {% if page_obj.has_next %}
            <a class="right-arrow-a" href="?page={{page_obj.next_page_number }}"></a>
          {% endif %}
        </div>
      <a class="back-to-category-list" href="{% url 'blog:categories' %}"><p>カテゴリ一覧へ戻る</p></a>
  </div>
</section>
{% endblock %}
